.dian:hover{
	
	transform: scale(1.1);
	    -webkit-transition: 0.5s;
	    transition: 0.5s;
	
}

.dian{
	transform: scale(1);
	    -webkit-transition: 0.5s;
	    transition: 0.5s;
}


